<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxcata.questionnaireinvestigation.mapper.ProjectMapper">

    <insert id="add">
        insert into p_project(project_id, project_name, company_id, create_time)
        values (#{projectId},#{projectName},#{companyId},#{createTime})
    </insert>
    <update id="updateProject">
        update
            p_project
        set
            <if test="projectName != null and projectName != ''">
                project_name=#{projectName},
            </if>
            update_time=#{updateTime}
        where project_id=#{projectId}
    </update>
    <delete id="deleteProject">
        delete from p_project where project_id=#{projectId}
    </delete>
    <select id="queryProjectById" resultType="com.gxcata.questionnaireinvestigation.vo.ProjectVO">
        select * from p_project where company_id=#{companyId} order by create_time desc
    </select>
</mapper>